body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FBDF7A ;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  font-family: "Rubik Distressed", cursive;
  font-size: 50px;
}

.header .logo {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  max-width: 100%;
  max-height: 100%;
}



/* title */

.waviy {
  position: relative;
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
    font-family: "Rubik Distressed", cursive;
  position: relative;
  display: inline-block;
  color: #0a0a0a;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


.line {
  width: 100%;
  height: 1px;
  background-color: #ff0000;
  margin-bottom: 20px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: #FBDF7A;
  animation: slide-in 0.5s ease-in-out;
  font: 30px "Moon Dance", cursive;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a
{
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* title */

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	line-height:2
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 60px;
	margin: 10px 0;
}


/* movies */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.movie {
  width: 350px;
  margin: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.movie img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.movie h2 {
  font-family: "Moon Dance", cursive;
}
.movie p,
li {
  list-style-type: none;
  font-family: "Caveat", cursive;
}

.movie a {
  text-decoration: none;
  color: inherit;
}

.spoiler {
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#a0aec0, #a0aec0);
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}
.spoiler:hover {
  color: #000;
  background-size: 0% 100%;
}


/* footer */

.footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.footer .line {
  width: 100%;
  height: 1px;
  background-color: #ff0000;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* animations */


@keyframes fadeMoveAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header .logo img {
  animation: fadeMoveAnimation 1s ease-in-out forwards;
}

/* .navbar li a:hover {
  background-color: #111;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Circle behind */
ul.circleBehind a:before, ul.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

ul.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

ul.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

ul.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

